body {
  background-color: #03191E;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: #7DCE82;
  flex-direction: column;
  text-align: center;
  font-size: large;
}
.tsgottabebottom3tatsoat {
  height: 100%;
  padding: 0%;
}